.contenedor_card {
  display: grid;
  align-items: center;
  justify-content: center;
}

.name-post {
  color: red;
  text-transform: lowercase;
}

.name-post:first-letter {
  text-transform: uppercase;
}
.precio {
  color: red;
}
.titulo-h1 {
  color: rgb(11, 129, 56);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 55px;
  text-transform: uppercase;
  font-weight: 600;
  text-shadow: 2px 5px #000;
}
