/* .selects {
    width: 15%;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 15px;
    text-align: center;
    min-height: 35px;
    /* background-image: url(https://img.freepik.com/vector-gratis/fondo-forma-franja-geometrica-minima_1409-1014.jpg?w=1060&t=st=1663962819~exp=1663963419~hmac=e5fca3a6dda1ed472ce38c7440f0fdcedc14a8fb8ac7988dcad4827248a834d8); */
    /* background-size: cover;
    color: white;
    outline: none;
    padding: 0px 10px;
    -webkit-backdrop-filter: blur(0px);
    backdrop-filter: blur(0px);
    background-color: #13368A;
    cursor: pointer;
    border-radius: 15px;
} */

/* .contSelects {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    flex-wrap: wrap;
} */