.cart-subtitle {
    font-size: 13px;
    align-items: flex-start;
}

.cart-container {
    margin-top: 4px;
    margin-left: 4px;
}

.cart-message {
    margin: 16px;
    display:flex;
    justify-content: center;
}

.cities-button{
    text-transform: capitalize;
    margin-bottom: 0.5rem;
}