.container {
    margin-top: 30px;
    flex-wrap: wrap;
    
}

.seller-image {
    width: 60px;
    height: 60px;
    margin: 8px;
    border: 1px solid #ccc;
}

.container-cards {
    background-color: white;
    padding: 8px;
    margin: 16px;
    display: inline-flex;
   
}

.container-carousel {
    background-color: white;
    padding: 8px;
    margin: 16px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    display: flex;
    flex-direction: column;
    width: 80%;
    overflow-x: auto;
    height: 500px;
}


.seller-title {
    text-align: flex-start;
    padding-left: 4px;
}
