.message{
    padding: 16px;
    border-radius: 8px;
    font-size: 18px;
    margin: 102px auto 0 auto;
    
  }

  .message--info{
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
  }

  .message--error{
  color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
  }